


VACANCY_PARSER__CACHE_URL=redis://:xxx@redis.chiz.work.gd:6379/0
VACANCY_PARSER__CACHE_TYPE="redis" #redis # memory


VACANSY_PARSER__DATABASE_TYPE=postgres
VACANCY_PARSER__DATABASE_URL=postgresql+asyncpg://xxx:xxx@91.132.162.205:5432/xxx


VACANCY_PARSER__PARSE_TIMEOUT_S=60
VACANCY_PARSER__PARALLEL_WORKERS=4
VACANCY_PARSER__CARDS_PARSE_LIMIT=10


VACANCY_PARSER__QUERY_WORDS=