JOB_HUNTER__HOST=dev.loc

JOB_HUNTER__RABBITMQ__USER=the_great_me
JOB_HUNTER__RABBITMQ__PASS=supper_secret
JOB_HUNTER__RABBITMQ_URL=amqp://the_great_me:supper_secret@localhost:5672/

JOB_HUNTER__REDIS__PASSWORD=supper_secret

JOB_HUNTER__PARSER_SERVICE__CACHE_TYPE=redis
JOB_HUNTER__PARSER_SERVICE__CACHE_URL=

JOB_HUNTER__PARSER_SERVICE__PARSE_TIMEOUT_S=60
JOB_HUNTER__PARSER_SERVICE__PARALLEL_WORKERS=4
JOB_HUNTER__PARSER_SERVICE__CARDS_PARSE_LIMIT=10

JOB_HUNTER__PARSER_SERVICE__QUERY_WORDS=
